body {
  font-family: Arial;
  font-size: 6pt;
}
input {
  width: 90%;
}
h3 {
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 1em;
  text-transform: uppercase;
}
h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
table.canvas {
  min-width: 20%;
}
table.canvas_section {}
ul {
  list-style-type: none;
  padding-left:0px;
}
ul.sublist {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
ol {
  padding-left:10px;
  font-style: italic;
}
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

td {
  vertical-align: top;
}

td.canvas_section {
  border: thin black solid;
  padding-left:10px;
}


